@use "/src/utils/color" as *;
@use "/src/utils/mixin.scss" as *;

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        // background-color: red;

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            // background-color: green;

            .site-icon {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;

                h2 {
                    font-size: 2rem;
                }
                
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1.8rem;
                list-style: none;

                li {
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                a {
                    color: black;
                    text-decoration: none;
                }

            }

            button {
                padding: 15px;
                width: 130px;
                border-radius: 5px;
                // border: 1px solid $purple;
                font-size: 1rem;
                color: white;
                // background-color: $purple;
                transition: 0.4s;
            }

            button:hover {
                background-color: white;
                // color: $purple;
            }

        }

        //nav-container end
    }

    .hero-container {
        @include display-flex;
        width: 100%;
        height: 90vh;
        // background-color: red;

        .side-nav-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
            height: 400px;
            border-radius: 0 10px 10px 0;
            // background-color: $purple;

            .side-nav {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 90%;
                // background-color: green;
            }

            img {
                cursor: pointer;
                transition: 0.4s;
            }

        }

        .hero-title-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.8rem;
            width: 100%;
            // background-color: green;

            h1 {
                font-size: 5rem;

                span {
                    // color: $purple;
                }

            }

            h3 {
                font-size: 1.5rem;
            }

            button {
                padding: 20px;
                width: 160px;
                // border: 1px solid $purple;
                border-radius: 5px;
                font-size: 1rem;
                color: white;
                // background-color: $purple;
                transition: 0.4s;
            }

            button:hover {
                background-color: white;
                // color: $purple;
            }

        }

        //hero-container end
    }

    //main-container end
}